form.search-bar {

  >div.search-wrapper {
    position: relative;
  
    >input {
      position: absolute;
      
      &.search-input {
        background-color: transparent;
        z-index: 1;
      }
  
      &.search-autocomplete {
        z-index: 0;
        color: gray;
      }
    }
  }
}