.searchbar {
  display: flex;
  justify-content: center;

  >input {
    min-width: 60vw;
    position: absolute;
    font-size: 1.5em;

    &:hover, &:focus {
      border-color: var(--color-primary-hover);
    }

    &.search-input {
      background-color: transparent;
      z-index: 1;
    };

    &.search-autocomplete {
      z-index: 0;
      color: var(--color-secondary-hover);
      background-color: var(--color-black);
    }
  }
}
