dialog {
  background-color: var(--color-light-gray);
  color: var(--text-light);
  padding: 0;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 200px 10px var(--color-black);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(2px);
  }

  >button.close {
    display: flex;
    align-items: center;
    float: right;
    padding: 5px;
  }

  >article {
    width: 40vw;
    padding: 2em;
    align-items: center;
    
    >form {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 60%;
      margin: 2em auto;
      padding: 2em;

      >input, >textarea {
        margin-top: 0.5em;
        margin-bottom: 2em;
      }
    }

    >h3 {
      font-size: 2em;
      font-weight: bolder;
      margin: 0;
    }

  
    >footer {
      display: flex;
      justify-content: right;
      background-color: var(--color-secondary-active);
      margin: 2em -2em -2em -2em;
    }
  }

}