:root {
  --color-white: #fff;
  --color-light-gray: #222;
  --color-dark-gray: #111;
  --color-black: #000;

  --primary-50: #ebfdff;
  --primary-100: #cdf6ff;
  --primary-200: #8fe9ff;
  --primary-300: #62ddfe;
  --primary-400: #1bc4f5;
  --primary-500: #00a7db;
  --primary-600: #0284b8;
  --primary-700: #0a6a94;
  --primary-800: #125778;
  --primary-900: #134766;
  --primary-950: #062e46;

  --color-primary: var(--primary-500);
  --color-primary-active: var(--primary-300);
  --color-primary-hover: var(--primary-100);

  --color-secondary: var(--primary-950);
  --color-secondary-active: var(--primary-800);
  --color-secondary-hover: var(--primary-700);

  --color-warning: #f00;

  --text-light: var(--color-white);
  --text-dark: var(--color-black);
  --text-muted: var(--primary-950);
}

body {
  background-color: var(--color-dark-gray);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
  padding-top: 120px;
}

button {
  padding: 0.5rem;
  border-radius: 2px;
  padding: 1em;
  margin: 1em;
  outline: none;
  
  &.button-primary-solid {
    border: none;
    color: var(--color-primary-hover);
    background-color: var(--color-secondary-active);
    
    &:hover, &:focus {
      color: var(--color-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary-hover);
    }
  }
  
  &.button-secondary-solid {
    border: none;
    color: var(--color-primary-active);
    background-color: var(--color-light-gray);

    &:hover, &:focus {
      color: var(--color-primary-hover);
      background-color: var(--color-secondary-hover);
      border-color: var(--color-primary-hover);
    }
  }

  &.button-primary-outline {
    color: var(--color-primary);
    background-color: transparent;
    border: 5px solid var(--color-primary);
    margin: 1rem;

    &:hover, &:focus {
      color: var(--color-primary-hover);
      background-color: var(--color-secondary-active);
      border-color: var(--color-primary-hover);
    }
  }
}

input {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 1rem;
  border: 5px solid var(--color-primary);
  border-radius: 8px;
  outline: none;

  &:hover, &:focus {
    border-color: var(--color-primary-hover);
  }
}

.warning {
  color: var(--color-warning)
}